<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<ul class="navbar-nav p-1">
	  <li class="nav-item">
		<a class="navbar-brand" href="/">Home</a>
	  </li>
	{% if user.is_authenticated %}
	<li class="nav-item">
		<a class="navbar-brand" href="{% url 'logout' %}">Log out</a>
	  </li>
	{% else %}
	<li class="nav-item">
		<a class="navbar-brand" href="/user/login">Login</a>
	  </li>
	  <li class="nav-item">
		<a class="navbar-brand" href="/user/register">Sign up</a>
	  </li>
	{% endif %}
	</ul>
</nav>