{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
    <h5 class="mt-4 text-center">Hi, {{ user.username }}</h5>
    <ul class="list-group">
        <li class="list-group-item">if you would like to change your profile picture click <a href="{% url 'add_profile_pic' %}">here</a></li>
        <li class="list-group-item">create a post <a href="{% url 'add_post' %}">here</a></li>
        <li class="list-group-item">View all posts <a href="{% url 'posts' %}">here</a></li>
    </ul>
    <img src="{{ user_profile.profile_pic.url }}" alt="" class="profile_img">
{% else %}
    Not logged in.
{% endif %}
{% endblock %}