{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
    <h5 class="mt-4 text-center">Hi, {{ user.username }}</h5>
    <ul class="list-group">
        <li class="list-group-item">View your profile <a href="{% url 'profile' user_profile.id %}">here</a></li>
        <li class="list-group-item">Create a post <a href="{% url 'add_post' %}">here</a></li>
        <li class="list-group-item">View all posts <a href="{% url 'posts' %}">here</a></li>
        <li class="list-group-item">View all users <a href="{% url 'profiles' %}">here</a></li>
    </ul>
{% else %}
    <h5 class="mt-4 text-center">Hi welcome to our blog </h5>
    <ul class="list-group">
        <li class="list-group-item">if you would like to make posts please create an account <a href="{% url 'register' %}">here</a></li>
        <li class="list-group-item">View all posts <a href="{% url 'posts' %}">here</a></li>
    </ul>
{% endif %}
{% endblock %}