{% extends 'base.html' %} 
{% block content %}

    {% if user.user.id != request.user.id %}
    <div class="inner-container mt-4">
        <h4 class="text-center"> 
            {{ user.user.username }}
        </h4>
        <h6>
            {{ user.user.username }} has {{ user.num_of_followers }} followers and is following {{ user.num_of_followees }} other users
        </h6>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'index' %}"> Back to home </a></li>
            <li class="list-group-item"><a href="{% url 'profile' user.id  %}posts"> View {{ user.user.username }}'s posts</a></li>
            <li class="list-group-item">
                <img src="{{ user.profile_pic.url }}" alt="" class="profile_img img-pp mt-1">
            </li>
        </ul>
    </div>
    {% else %}
    <div class="inner-container mt-4">
        <h5 class="text-center"> {{ user.user.username }}</h5>
        <h6>
            You have {{ user.num_of_followers }} followers and are following {{ user.num_of_followees }} other users
        </h6>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'index' %}"> Back to home </a></li>
            <li class="list-group-item"><a href="{% url 'profile' user.id  %}posts"> View my posts</a></li>
            <li class="list-group-item"><a href="{% url 'add_profile_pic' %}"> Change profile Pic</a></li>
            <li class="list-group-item">
                <img src="{{ user.profile_pic.url }}" alt="" class="profile_img img-pp mt-1">
            </li>
        </ul>
    </div>
    {% endif %}


{% endblock %}